/* Footer styles */
.footer {
    font-family: 'Lato', sans-serif;
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    height: 300px;
    width: 100%;
    background-color: rgb(28, 28, 28);

}

.footer>.footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0px;
    align-items: center;
    color: rgba(255, 255, 255, 0.738);
    background-color: rgba(68, 68, 68, 0.542);
    border: 1px solid rgba(128, 128, 128, 0.519);
    font-size: 1.5rem;
}

.footer>.footer-box>.criteria {
    font-size: larger;
    font-family: 'Cinzel', serif;

}